<div class="panel panel-default">
   <!-- <div class="panel-heading">{{ element.name }}</div> -->
   <div class="panel-heading" #heading>{{ name }}</div>
   <div class="panel-body">
      <!-- RENDERIZANDOLO COMO CHILD EN DONDE LLAMO EL COMPONENT (app.component) con el       ng-content     -->
      <!-- <p #contentParagraph>
               <strong
                  *ngIf="serverElement.type === 'server'"
                  style="color: red"
                  >{{ serverElement.content }}</strong
               >
               <em *ngIf="serverElement.type === 'blueprint'">{{
                  serverElement.content
               }}</em>
            </p> -->
      <ng-content></ng-content>
   </div>
</div>
